---
export interface Props {
  options: Array<{
    label: string;
    href: string;
  }>;
  value: string;
}

const { options, value } = Astro.props;
---

<api-genie-locale-selector>
  <select>
    {
      options.map((option) => (
        <option value={option.href} selected={option.href == value}>{option.label}</option>
      ))
    }
  </select>
</api-genie-locale-selector>

<script>
  class LocaleSelector extends HTMLElement {
    constructor() {
      super();
      const selectEl = this.querySelector("select");
      if (selectEl) {
        selectEl.addEventListener("change", (event) => {
          console.log(event);
          if (event.currentTarget instanceof HTMLSelectElement) {
            window.location.href = event.currentTarget.value;
          }
        });
      }
    }
  }

  customElements.define("api-genie-locale-selector", LocaleSelector);
</script>
