<div class="flex-0 flex border-2 border-red-500 border-solid">
  <input
    type="text"
    placeholder="Search"
    name="q"
    class="bg-transparent focus:outline-none w-80"
  />
  <div>Search</div>
</div>
