---
import { useTranslation } from "../../i18n";

const __ = useTranslation(Astro);
---

<div class="flex-0 flex border-2 border-red-500 border-solid">
  <input
    type="text"
    placeholder={__("searchField.placeholder")}
    name="q"
    class="bg-transparent focus:outline-none w-80"
  />
  <div>{__("searchField.title")}</div>
</div>
