---
import { useTranslation } from "../../i18n";

const __ = useTranslation(Astro);
---

<div>
  <button>{__("themeSelector.title")}</button>
  <ul class="hidden">
    <li>{__("themeSelector.light")}</li>
    <li>{__("themeSelector.dark")}</li>
  </ul>
</div>
