---
import ThemeSelector from "./header/ThemeSelector.astro";
import LocaleSelector from "./header/LocaleSelector.astro";
import SearchField from "./header/SearchField.astro";

interface Props {
  class?: string;
  i18n?: {
    options: Array<{
      label: string;
      href: string;
    }>;
    value: string;
  };
}

const { class: className, i18n } = Astro.props;

const isMultiLocale = i18n && i18n.options.length > 1;
const locales = isMultiLocale ? i18n.options : [];
const currentHref = isMultiLocale ? i18n.value : '';
---

<header
  class:list={[
    "h-12",
    "bg-emerald-100",
    "flex",
    "flex-row",
    "justify-between",
    "items-center",
    "gap-4",
    "p-4",
    className,
  ]}
>
  <nav>
    <h1 class="text-xl">RealWorld Conduit API</h1>
  </nav>
  <SearchField />
  <div>
    <ThemeSelector />
    {isMultiLocale && (
      <LocaleSelector options={locales} value={currentHref} />
    )}
  </div>
</header>
