---
import { useTranslation } from "../i18n";

const __ = useTranslation(Astro);
---

<div id="overview" class="mb-5">
  <h2 class="text-3xl">{__("overview.overview")}</h2>
  <div>
    <h3 class="text-lg mb-2"><slot name="title" /> <slot name="version" /></h3>
  </div>
  <div><slot name="description" /></div>
  <section>
    <h3 class="text-lg font-bold mb-2">{__("overview.serverList")}</h3>
    <slot name="server" />
  </section>
</div>
