---

---

<div class="min-w-[200px] max-w-[300px] border border-sky-600 mt-4">
  <h4 class="font-bold">Response examples</h4>
  <div class="max-h-[300px] overflow-y-scroll">
    <slot />
  </div>
</div>
