---
import { useTranslation } from '../../i18n';

interface Props {
  url: string;
}

const { url } = Astro.props;
const __ = useTranslation(Astro);
---

<div>
  <span>{__('server.url')}: {url}</span>
</div>
