---
import { Icon } from "astro-icon/components";

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="py-1" data-sidebar-group>
  <div class="flex justify-between cursor-pointer" data-sidebar-trigger>
    <span class="text-xl">{text}</span>
    <span class="rotate-180" data-sidebar-chevron>
      <Icon name="chevron-up" size={24} />
    </span>
  </div>
  <div class="hidden pl-4" data-sidebar-children>
    <slot />
  </div>
</div>
