---
import { useTranslation } from "../../i18n";
import { Icon } from "astro-icon/components";

const __ = useTranslation(Astro);
---

<div data-sidebar-group>
  <h2
    class="flex justify-between cursor-pointer py-1 text-xl"
    data-sidebar-trigger
  >
    <span>{__('sidebar.resourcesWrapper.title')}</span>
    <span class="rotate-180" data-sidebar-chevron>
      <Icon name="chevron-up" size={24} />
    </span>
  </h2>
  <div class="hidden" data-sidebar-children>
    <slot />
  </div>
</div>
