---
import { Icon } from "astro-icon/components";
import { useTranslation } from "../../i18n";

interface Props {
  method: string;
  url: string;
}

const { method, url } = Astro.props;

const __ = useTranslation(Astro);
---

<div class="min-w-50 border border-sky-600" data-current="curl">
  <h4 class="font-bold">{__('requestExample.header')}</h4>
  <div class="mb-1">
    <span class="font-bold font-mono uppercase">{method}</span>
    <span class="ml-1 font-mono">{url}</span>
  </div>
  <div class="flex justify-between">
    <ul class="list-none p-1">
      <li data-tab="curl" class="inline mr-2 cursor-pointer pressed">{__('requestExample.tabs.curl')}</li>
      <li data-tab="vanilla_js" class="inline mx-2 cursor-pointer">{__('requestExample.tabs.vanillaJs')}</li>
    </ul>
    <button aria-label="Copy" class="p-2" data-copy-trigger>
      <Icon name="copy" size={16} />
    </button>
  </div>
  <div>
    <div data-pane="curl"><slot name="curl" /></div>
    <div data-pane="vanilla_js" class="hidden"><slot name="vanilla_js" /></div>
  </div>
</div>

<script>
  document.addEventListener("click", async (event: MouseEvent) => {
    const elem = event.target as HTMLElement;
    if (elem.matches("li[data-tab]")) {
      const root = elem.closest("div[data-current]") as HTMLElement;
      if (root) {
        root.dataset.current = elem.dataset.tab;
        root.querySelectorAll("li[data-tab]").forEach((elem2) => {
          elem2.classList.toggle("pressed", elem2 === event.target);
        });
        root.querySelectorAll("div[data-pane]").forEach((elem2) => {
          const htmlElem = elem2 as HTMLElement;
          htmlElem.classList.toggle(
            "hidden",
            htmlElem.dataset.pane !== root.dataset.current
          );
        });
      }
    }
  });
</script>

<script>
  import ClipboardJS from "clipboard";

  new ClipboardJS("[data-copy-trigger]", {
    text: (trigger) => {
      let result = "";

      const root = trigger.closest("div[data-current]") as HTMLElement;
      if (root) {
        const codeElem = root.querySelector(
          "[data-pane=" + root.dataset.current + "]"
        ) as HTMLElement;
        if (codeElem) {
          result = codeElem.textContent || "";
        }
      }

      return result;
    },
  });
</script>
