<div>
  <h3 class="text-lg font-bold mb-2">Response codes</h3>
  <table>
    <thead>
      <tr>
        <th>Status code</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</div>
