---
import { useTranslation } from "../../i18n";

const __ = useTranslation(Astro.url);
---

<div>
  <h3 class="text-lg font-bold mb-2">{__("responses.title")}</h3>
  <table>
    <thead>
      <tr>
        <th>{__("responses.statusCode")}</th>
        <th>{__("responses.description")}</th>
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</div>
