<div class="flex flex-col border-red-100 border-2 border-solid">
  <div>
    <ul class="list-none flex">
      <li>cURL</li>
      <li>JavaScript</li>
      <li>Python</li>
    </ul>
    <button>Copy</button>
  </div>
  <div data-tab="curl"></div>
  <div data-tab="javascript"></div>
  <div data-tab="python"></div>
</div>
